@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Roboto&family=Yanone+Kaffeesatz:wght@700&display=swap');

html {
    min-height: 100%;
    overflow: hidden;
}

body {
    background: rgba(0, 0, 0, 0.5) url("images/background.png");
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: 'Roboto', sans-serif;
    background-blend-mode: darken;
}


.bg-image {
    z-index: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

a:hover {
    color: lightskyblue;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

/* Header elements */

header {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2% 5%;
}

.logo {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2em;
}

.upper-nav {
    margin-top: 0;
}

.upper-nav li {
    display: inline-block;
    padding: 0 1.5em;
}

#menu-button {
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

/* Hamburger menu */

.hamburger-menu {
    position: fixed;
    background-color: black;
    top: 0;
    right: 0;
    z-index: 1;
    width: 0;
    height: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.5s;
    overflow-x: hidden;
}

.hamburger-links {
    margin-top: 50%;
    height: 30%;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    transition: 0.3s;
}

.hamburger-menu a {
    color: lightslategrey;
}

.hamburger-menu a:hover {
    color: white;
}

.close-hamburger {
    position: absolute;
    top: 5%;
    right: 10%;
    cursor: pointer;
    font-size: 3.5em;
    transition: 0.3s;
}

/* Main content */

main {
    grid-column: 1;
    margin: 10%;
    text-align: left;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-left: 4em;
}

main h1 {
    width: 500px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 400%;
    line-height: 1em;
}

main h4 {
    width: 350px;
    margin-top: 0;
    line-height: 1.5em;
    color: lightgrey;
}

form {
    grid-column-start: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin: 0% 10% 0% 10%;
}

form h5 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: lighter;
    letter-spacing: .2em;
}

table {
    border-collapse: collapse;
    width: 460px;
}

table td {
    padding: 0;
    width: 100%;
}

table input {
    background-color: rgb(255, 255, 255, 0.1);
    color: white;
    width: 100%;
    padding: 1em 1.5em;
    box-sizing: border-box;
}

input::placeholder {
    color: lightgray;
}

input:focus {
    background-color: rgb(119, 136, 153, 0.5);
}

#name-input {
    border-top: 3px solid grey;
    border-left: 3px solid grey;
    border-right: 3px solid grey;
    border-bottom: 1px solid grey;
    border-radius: 3px 3px 0 0;
}

#email-input {
    border-left: 3px solid grey;
    border-right: 3px solid grey;
    border-top: none;
    border-bottom: none;
}

#pw-input {
    border-left: 3px solid grey;
    border-right: 3px solid grey;
    border-top: 1px solid grey;
    border-bottom: none;
}

.pw-icon {
    display: flex;
    justify-content: flex-end;
}

.pw-icon i {
    position: absolute;
    padding: 15px;
    cursor: pointer;
}

.fas {
    transition: 0.3s;
}

.fa-eye-slash {
    opacity: 0.7;
}

.sign-up-button {
    border: none;
    background-color: rgb(44, 153, 237);
    color: white;
    width: 100%;
    padding: 1.5em 1.5em;
    border-radius: 0 0 3px 3px;
    cursor: pointer;
}

.tos {
    margin-top: 1.5em;
    color: gray;
    text-align: center;
    line-height: 175%;
    font-size: 0.8em;
}

.tos a {
    cursor: pointer;
}

/* Footer elements */

footer {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 2% 5%;
}

.lower-nav {
    margin-bottom: 0;
}

.lower-nav li {
    display: inline-block;
    padding: 0 1em;
}

/* Resizing */

@media screen and (max-width: 700px){
    body {
        background-image: url('images/background-mobile.png');
        background-position: center;
    }

    .upper-nav {
        display: none;
    }

    .hamburger-menu {
        position: absolute;
    }

    main {
        grid-column: 1/-1;
        text-align: center;
        align-items: center;
        margin-bottom: none;
        padding-left: 0;
    }

    main h1, h4 {
        max-width: 300px;
        text-align: left;
    }

    main h1 {
        font-size: 250%;
    }

    table {
        width: 300px;
    }

    form {
        grid-column: 1/-1;
        margin: 5%;
    }

    .pw-icon i {
        position: absolute;
        padding: 15px;
        margin-left: 30%;
    }

    footer {
        flex-flow: column-reverse;
        justify-content: center;
        justify-items: center;
        text-align: center;
        align-items: center;
        padding: 2em;
    }

    .lower-nav {
        padding: 0;
        margin-bottom: 3em;
    }

    .lower-nav li {
        display: block;
        margin: 1em;
        font-size: 0.8em;
    }
}